<ion-header class="ion-no-border">
  <ion-toolbar lines="none">
    <ion-grid>
      <ion-row class="header-row ion-align-items-center">
        <!-- ÚNICO menu hamburguer -->
        <ion-col size="auto">
          <ion-buttons>
            <ion-menu-button autoHide="false">
              <ion-icon name="menu" class="ion-padding"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
        </ion-col>

        <!-- Logo centralizada -->
        <ion-col class="ion-text-center">
          <div class="logo">
            <img id="logo-login" src="../../assets/whiteLogo.svg" />
          </div>
        </ion-col>

        <!-- Coluna fantasma pra equilibrar -->
        <ion-col size="auto" class="menu-placeholder">
          <ion-icon
            name="menu"
            class="ion-padding"
            style="visibility: hidden;">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <ion-grid class="buttons-wrapper">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" class="buttons-row">
        <ion-button
          class="btnGreen ion-text-capitalize btn-home"
          expand="block"
          (click)="goOrdemServico()">
          Ordem de Serviço
        </ion-button>

        <ion-button
          class="btnGreen ion-text-capitalize btn-home"
          expand="block"
          (click)="goAbastecimento()">
          Abastecimento
        </ion-button>

        <ion-button
          class="btnGreen ion-text-capitalize btn-home"
          expand="block"
          (click)="goEstoque()">
          Estoque
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
