<style>
  .wrapper {
  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;
}
</style>


<ion-header>
  <ion-toolbar lines="none">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="7">
          <div class="logo">
            <img id="logo-login" src="../../assets/whiteLogo.svg" />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-grid class="ion-no-padding position-relative" style="height: 200px;">
    <ion-row class="ion-justify-content-center">
      <ion-col size="5" style="padding-right: 10px;">
        <ion-button
          style="font-size: 15px;"
          class="btnGreen ion-text-capitalize"
          [routerLink]="['/tabs/home']"
        >
          Obras
        </ion-button>
      </ion-col>

      <ion-col size="5" style="padding-left: 10px;">
        <ion-button
          style="font-size: 15px;"
          class="btnGreen ion-text-capitalize"
          [routerLink]="['/tabs/frotas-home']"
        >
          Frotas
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="height: 180px;"></div>
</ion-content>


<script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>
<script>
</script>