<ion-header class="os-header">
  <ion-toolbar lines="none">
    <div class="os-header-bar">
      
      <!-- Ícone de Voltar -->
      <button class="os-back-btn" (click)="onBack()">
        <img src="../../assets/icon/topoRequest.svg" alt="Voltar" />
      </button>

      <h1 class="os-title">Ordem Serviço - Fotos</h1>

      <div class="os-header-spacer"></div>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content class="os-content">

  <div class="os-page">
    <div class="os-card">

      <button class="os-picker-btn" (click)="localizarFoto()">
        Localizar Foto
      </button>

      <div class="os-field">
        <label class="os-label">Foto</label>
        <ion-textarea class="os-textarea" placeholder="Imagem carregada aqui..." readonly></ion-textarea>
      </div>

      <div class="os-actions">
        <button type="button" class="os-primary-btn" (click)="confirmarFoto()">
          CONFIRMAR INCLUSÃO DE FOTO
        </button>
      </div>

    </div>
  </div>
</ion-content>
