ion-header {
  background-color: #023A51;
  padding-top: 20px;
  padding-bottom: 20px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/img/loginBg.png') #023A51;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
    content: "";
    z-index: -1;
  }

  ion-toolbar {
    --background: transparent;
  }
}
ion-content {
  --background: #023A51;
}

.container-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}
.linha-botoes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}
.btn-opcao {
  --background: linear-gradient(180deg, #2CBC63 0%, #25AD59 100%);
  --border-radius: 9px;
  --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  height: 90px;
  width: 45%;
  max-width: 160px;
  line-height: 1.3;
  margin: 0 8px;
}
.btn-voltar {
  --background: linear-gradient(180deg, #2CBC63 0%, #25AD59 100%);
  --border-radius: 9px;
  --box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  color: white;
  font-weight: 600;
  font-size: 16px;
  text-transform: none;
  height: 50px;
  width: 70%;
  max-width: 240px;
}